
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="Boia, um auxiliar do Jbroca.">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
      <title>Boia</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-pink.min.css" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_orange-yellow.min.css" />
      <link rel="stylesheet" href="main.css" />
  </head>

  <body>

    <h5>Olá, <%= @user.login %>!&nbsp; |&nbsp; <a href="/logout">sair</a></h5>

  </body>

  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</html>
